.header-main {
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: flex-end;
  color: #201e29;
  font-weight: 500;
  background: #ffffff;
  box-shadow: 1px -6px 13px 0px;

  .user {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-right: -20px;
    .name {
      font-size: .7em;      
    }
    .img-user {
      background-repeat: no-repeat;
      background-position: center;
      background-size: 30px;
      clip-path: circle(50% at 50% 50%);
      width: 30px;
      height: 30px;
      margin: 0 5px 0 10px;
    }
    &:hover {
      user-select: none;
      cursor: pointer;
    }
  }
}

.logout{
  font-size: .7em;
  text-transform: uppercase;
  padding: 10px 20px;  
  transition: .3s;
  
  &:hover {
    background: rgba(0, 0, 0, 0.096);
    transition: .3s;
  }
}